<div class="screen-container">
  <div class="screen-content">
    <div class="screen-header">
      <div class="screen-header-name-cont">
        <span style="font-size: 20px;">Te damos la bienvenida</span>
        <span style="font-size: 20px;">a nuestra app</span>
        <span style="font-size: 20px;">para controlar tu bienestar</span>
      </div>
    </div>
    <div class="screen-content-box">
      <div class="screen-date-info">
        <img
          class="screen-card-image"
        src="../../../assets/images/estadistica.png"
        /><span>ESTADISTICAS</span>
      </div>
      <div class="screen-card-column-simple-text">
        <span>Podrás revisar todos los días a tus avances en tiempo real.</span>
      </div>
      <div class="screen-date-info">
        <img
          class="screen-card-image"
          src="../../../assets/images/asesoramiento.png"
        /><span>ASESORAMIENTO</span>
      </div>
      <div class="screen-card-column-simple-text">
        <span>Un gran catálogo de expertos a tu cuidado solo basta con
              revisar nuestro directorio de profesionales para que interactues
              con ellos
        </span>
      </div>
      <div class="screen-date-info">
        <img
          class="screen-card-image"
          src="../../../assets/images/nutricion.png"
        />
        <span>NUTRICION Y</span>
        <span> ENTRENAMIENTO</span>
      </div>
      <div class="screen-card-column-simple-text">
        <span>Ve de la mano de expertos que cuidarán de
              tu salud con planes alimenticioes y
              entrenamientos corporales para liberar todo
              tu potencial
        </span>
      </div>

      <div class="screen-date-info">
        <button mat-raised-button class="screen-next-button" routerLink="/perfil">
          Siguiente
        </button>
      </div>
    </div>
  </div>

</div>

