.screen-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

/* Header */
.screen-header {
  width: 100%;
  justify-items: center;
  justify-content: center;
  color: white;
  margin: 20px 0;
}
.screen-header-name-cont {
  flex-direction: column;

}
.screen-header-avatar {
  justify-content: center;
  display: flex;
}
.screen-header-name {
  margin-top: 16px;
  display: block;
  text-align: center;
  line-height: 10px;
  color: #167ba3;
  font-family: "Nunito", Roboto, "Helvetica Neue", sans-serif;
  font-weight:600;
}
.screen-circle-1 {
  background-color: white;
  border-radius: 50%;
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: -30px;
}
.screen-circle-2 {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: -46px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Content */
.screen-content {
  flex: 1;
  position: relative;
  background-color: white;
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
}
.screen-info{
  margin: 0 30px;
}
.screen-info-queries{
  color:#45d184;
  padding: 20px 0;
}
.screen-info-options{
  display: flex;
  justify-content: center;
  width: 100%;
}
.screen-info-options-box{
  border: 1px solid #ccd2cc;
  border-radius: 6px;
  height: 120px;
  width: 100%;
  text-align: center;
  padding: 0 24px;
  color: #045479;
  margin-bottom: 22px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  font-size: 14px;
  min-width: 240px;
}
.screen-info-options-space-left{
  margin-left: 15px;
  min-width: 80px;
}
.screen-info-options-space-right{
  margin-right: 15px;
  min-width: 80px;
}
.screen-info-img{
  height: 60px;
}
.screen-info-fix-img{
  margin: -10px 0;
  height: 80px;
}

/* Footer */
.screen-footer {
  display: flex;
  height: 42px;
  position: relative;
  bottom: 0;
}
.screen-footer-1 {
  flex: 1;
  height: 100%;
  background-color: #167ba3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}
.screen-footer-2 {
  flex: 1;
  height: 100%;
  background-color: #053c61;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}
.screen-footer-3 {
  position: absolute;
  height: 100%;
  right: 38%;
  left: 38%;
  background-color: #045479;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-icon-white {
  color: white;
}
.screen-icon-green {
  color: #45d184;
}
.screen-icon-grey {
  color: #ccd2cc;
}
.screen-icon-blue {
  color: #045479;
}
.screen-icon-black {
  color: black;
}

/* Card */
.screen-card {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ccd2cc;
  border-radius: 6px;
  margin: 10px 30px;
  padding: 8px;
}
.screen-card-column {
  line-height: 16px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.screen-card-star {
  margin-top: 12px;
}
.screen-card-image {
  border-radius: 50%;
  height: 68px;
  width: 68px;
}


.screen-date-info-header {
  background-color: #45d184;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 11px;
  padding: 8px;
  font-weight: 500;
  margin-bottom: 8px;
}
