<div class="screen-container">
  <div class="screen-content">
    <div class="screen-header">
      <div class="screen-header-options">
        <div class="screen-route" routerLink="/evaluacion-corporal">
          <img
            class="screen-img"
            style="margin: 0 0 6px 2px;"
            src="../../../assets/icons/transparent2gris.png"
            alt="screen-img"
          />
        </div>
      </div>
      <div class="screen-header-options">
        <div class="screen-active-route" routerLink="/plan-alimentacion">>>
          <img
            class="screen-img"
            style="margin: 0 2px 0 0;"
            src="../../../assets/icons/transparent5verde.png"
            alt="screen-img"
          />
        </div>
      </div>
      <div class="screen-header-options">
        <div class="screen-route" routerLink="/plan-entrenamiento">>
          <img
            class="screen-img"
            style="margin: 0 0 2px 12px;"
            src="../../../assets/icons/transparent4gris.png"
            alt="screen-img"
          />
        </div>
      </div>
    </div>
    <div class="screen-info">
      <div class="screen-info-title">
        Plan de alimentación
      </div>
      <div class="screen-info-options">
        <div class="screen-info-time">
          <div class="screen-info-weeks" style="font-size: 10px;">
            SEMANA
          </div>
          <div
            class="screen-info-weeks"
            style="font-size: 26px; font-weight: bold;"
          >
            05
          </div>
        </div>
        <div class="screen-info-button-box">
          <div class="screen-info-button">
            <button mat-raised-button class="screen-info-button-1">
              Histórico
            </button>
          </div>
          <div class="screen-info-button">
            <button mat-raised-button class="screen-info-button-2">
              Filtro
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="screen-info-data">
          <div class="screen-info-data-text">
            <span style="margin-bottom: 6px;">
              Tiempos de comida
            </span>
            <mat-form-field appearance="outline" class="screen-form-text-area">
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
          <div class="screen-info-data-text">
            <span style="margin-bottom: 6px;">
              Grupos y Sub-Grupos de alimentos
            </span>
            <mat-form-field appearance="outline" class="screen-form-text-area">
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
          <div class="screen-info-data-text">
            <span style="margin-bottom: 6px;">
              Porciones de alimentos
            </span>
            <mat-form-field appearance="outline" class="screen-form-text-area">
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="screen-footer">
      <div class="screen-footer-1">
        <mat-icon class="screen-icon-white">more_horiz</mat-icon>
      </div>
      <div class="screen-footer-2">
        <mat-icon class="screen-icon-white">favorite_border</mat-icon>
      </div>
      <div class="screen-footer-3">
        <mat-icon class="screen-icon-green">view_module</mat-icon>
      </div>
    </div>
  </div>
</div>

