<div class="screen-container">
      <div class="screen-scroll">
        <span class="screen-title">Antes de contactar a tu entrenador</span>
        <span class="screen-title">ayudanos a conocerte un poco más.</span>
        <br>
        <span class="screen-title">Es lo minimo que necesitamos para evaluar</span>
        <span class="screen-title">tu salud y recomendarte el mejor plan de</span>
        <span class="screen-title">alimentación y entrenamiento.</span>
        <br>
        <span class="screen-title-main">CUESTIONARIO</span>
        <br>
        <span class="screen-title-sub-main">Estilo de vida</span>
        <br>
        <span class="screen-text">Nivel educatido terminado</span>
        <mat-form-field appearance="outline" floatLabel="always">
          <input matInput autocomplete="off" />
        </mat-form-field>

        <span class="screen-text">Actividad laboral remunerada</span>
        <mat-form-field appearance="outline" floatLabel="always">
          <input matInput autocomplete="off" />
        </mat-form-field>

        <span class="screen-text">Estado civil actual</span>
        <mat-form-field appearance="outline" floatLabel="always">
          <input matInput autocomplete="off" />
        </mat-form-field>

        <span class="screen-text">¿Cuántos hijos tiene?</span>
        <mat-form-field appearance="outline" floatLabel="always">
          <input matInput autocomplete="off" />
        </mat-form-field>

        <span class="screen-text">¿Con quén vive?</span>
        <mat-form-field appearance="outline" floatLabel="always">
          <input matInput autocomplete="off" />
        </mat-form-field>

        <button mat-raised-button class="screen-save-button" routerLink="/inicio-tratamiento">
          Guardar
        </button>
      </div>

</div>

